In [ ]:
import numpy as np
import pandas as pd
import sklearn
import tensorflow as tf
from tensorflow import keras

In [ ]:
df = pd.read_csv('/content/kenapa _kelompok_kami_yang_dapat_penguin.csv')

df

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

In [ ]:
print('Species', df['Species'].unique())
print('Island', df['Island'].unique())
print('Clutch', df['Clutch Completion'].unique())
print('Sex', df['Sex'].unique())

Species ['Adelie Penguin (Pygoscelis adeliae)'
 'Chinstrap penguin (Pygoscelis antarctica)'
 'Gentoo penguin (Pygoscelis papua)']
Island ['Torgersen' 'Biscoe' 'Dream']
Clutch ['Yes' 'No']
Sex ['MALE' 'FEMALE' nan '.']

In [ ]:
new_df=df.copy()

new_df['Species']=new_df['Species'].replace({'Adelie Penguin (Pygoscelis adeliae)':'adeliae',
                                                 'Chinstrap penguin (Pygoscelis antarctica)':'antartica',
                                               'Gentoo penguin (Pygoscelis papua)':'papua'})

new_df['Sex'].fillna('.', inplace=True)
new_df['Sex']=new_df['Sex'].replace({'MALE':'male','FEMALE':'female'})
new_df['Sex']=new_df['Sex'].replace({'.':new_df['Sex'].mode()[0]})

new_df['Culmen Length (mm)'].fillna(new_df.groupby('Species')['Culmen Length (mm)'].transform('mean'),inplace=True)

new_df['Culmen Depth (mm)'].fillna(new_df.groupby('Species')['Culmen Depth (mm)'].transform('mean'),inplace=True)

new_df['Flipper Length (mm)'].fillna(new_df.groupby('Species')['Flipper Length (mm)'].transform('mean'),inplace=True)

new_df['Body Mass (g)'].fillna(new_df.groupby('Species')['Body Mass (g)'].transform('mean'),inplace=True)

new_df['Delta 15 N (o/oo)'].fillna(new_df.groupby('Species')['Delta 15 N (o/oo)'].transform('mean'),inplace=True)

new_df['Delta 13 C (o/oo)'].fillna(new_df.groupby('Species')['Delta 13 C (o/oo)'].transform('mean'),inplace=True)

new_df['Body Mass (kg)']=new_df['Body Mass (g)']/1000

new_df=new_df.drop(['Body Mass (g)','studyName','Sample Number','Comments','Individual ID','Region','Stage','Date Egg'], axis=1)


print(new_df.info())
new_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Island               344 non-null    object
 2   Clutch Completion    344 non-null    object
 3   Culmen Length (mm)   344 non-null    float64
 4   Culmen Depth (mm)    344 non-null    float64
 5   Flipper Length (mm)  344 non-null    float64
 6   Sex                  344 non-null    object
 7   Delta 15 N (o/oo)    344 non-null    float64
 8   Delta 13 C (o/oo)    344 non-null    float64
 9   Body Mass (kg)       344 non-null    float64
dtypes: float64(6), object(4)
memory usage: 27.0+ KB
None

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (kg)
0,adeliae,Torgersen,Yes,39.100000,18.700000,181.000000,male,8.859733,-25.804194,3.750000
1,adeliae,Torgersen,Yes,39.500000,17.400000,186.000000,female,8.949560,-24.694540,3.800000
2,adeliae,Torgersen,Yes,40.300000,18.000000,195.000000,female,8.368210,-25.333020,3.250000
3,adeliae,Torgersen,Yes,38.791391,18.346358,189.953642,male,8.859733,-25.804194,3.700662
4,adeliae,Torgersen,Yes,36.700000,19.300000,193.000000,female,8.766510,-25.324260,3.450000

In [ ]:
print('Species', new_df['Species'].unique())
print('Island', new_df['Island'].unique())
print('Clutch', new_df['Clutch Completion'].unique())
print('Sex', new_df['Sex'].unique())

Species ['adeliae' 'antartica' 'papua']
Island ['Torgersen' 'Biscoe' 'Dream']
Clutch ['Yes' 'No']
Sex ['male' 'female']

In [ ]:
from sklearn import preprocessing
LE=preprocessing.LabelEncoder()

In [ ]:
df_encode=new_df.copy()
df_encode['Island']=LE.fit_transform(df_encode['Island'])
df_encode['Clutch Completion']=LE.fit_transform(df_encode['Clutch Completion'])
df_encode['Sex']=LE.fit_transform(df_encode['Sex'])
df_encode.head()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Body Mass (kg)
0,adeliae,2,1,39.100000,18.700000,181.000000,1,8.859733,-25.804194,3.750000
1,adeliae,2,1,39.500000,17.400000,186.000000,0,8.949560,-24.694540,3.800000
2,adeliae,2,1,40.300000,18.000000,195.000000,0,8.368210,-25.333020,3.250000
3,adeliae,2,1,38.791391,18.346358,189.953642,1,8.859733,-25.804194,3.700662
4,adeliae,2,1,36.700000,19.300000,193.000000,0,8.766510,-25.324260,3.450000

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [ ]:
X=df_encode.drop(['Species'], axis=1)
Y=df_encode['Species']
bestfeatures = SelectKBest(score_func=f_classif, k='all')
fit = bestfeatures.fit(X,Y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Feature','Score']
print(featureScores.nlargest(9,'Score'))

               Feature       Score
4  Flipper Length (mm)  602.698860
2   Culmen Length (mm)  415.270432
3    Culmen Depth (mm)  364.366210
8       Body Mass (kg)  348.042484
7    Delta 13 C (o/oo)  236.782300
6    Delta 15 N (o/oo)  232.001825
0               Island  152.172254
1    Clutch Completion    5.012372
5                  Sex    0.091002

In [ ]:
df_encode_drop=df_encode.copy()
df_encode_drop=df_encode_drop.drop(['Sex','Clutch Completion','Delta 13 C (o/oo)','Delta 15 N (o/oo)'], axis=1)
df_encode_drop.head()

,Species,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,adeliae,2,39.100000,18.700000,181.000000,3.750000
1,adeliae,2,39.500000,17.400000,186.000000,3.800000
2,adeliae,2,40.300000,18.000000,195.000000,3.250000
3,adeliae,2,38.791391,18.346358,189.953642,3.700662
4,adeliae,2,36.700000,19.300000,193.000000,3.450000

In [ ]:
OHE=preprocessing.OneHotEncoder()
df_ohe=df_encode_drop.copy()

df_code=OHE.fit_transform(df_ohe[['Island']]).toarray()

df_list=list(sorted(new_df['Island'].unique()))

df_code=pd.DataFrame(df_code, columns=df_list)
df_ohe=pd.concat([df_code,df_ohe], axis=1)

df_ohe.head()

,Biscoe,Dream,Torgersen,Species,Island,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,0.0,0.0,1.0,adeliae,2,39.100000,18.700000,181.000000,3.750000
1,0.0,0.0,1.0,adeliae,2,39.500000,17.400000,186.000000,3.800000
2,0.0,0.0,1.0,adeliae,2,40.300000,18.000000,195.000000,3.250000
3,0.0,0.0,1.0,adeliae,2,38.791391,18.346358,189.953642,3.700662
4,0.0,0.0,1.0,adeliae,2,36.700000,19.300000,193.000000,3.450000

In [ ]:
df_ohe=df_ohe.drop(['Island'], axis=1)
df_ohe.head()

,Biscoe,Dream,Torgersen,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,0.0,0.0,1.0,adeliae,39.100000,18.700000,181.000000,3.750000
1,0.0,0.0,1.0,adeliae,39.500000,17.400000,186.000000,3.800000
2,0.0,0.0,1.0,adeliae,40.300000,18.000000,195.000000,3.250000
3,0.0,0.0,1.0,adeliae,38.791391,18.346358,189.953642,3.700662
4,0.0,0.0,1.0,adeliae,36.700000,19.300000,193.000000,3.450000

In [ ]:
df_ohe.shape

(344, 8)

In [ ]:
df = df_ohe

In [ ]:
my_Species = df['Species'].value_counts()
Species_dict = {Species: idx for idx, Species in enumerate(list(my_Species.index))}
Species_dict

{'adeliae': 0, 'papua': 1, 'antartica': 2}

In [ ]:
df['Species'] = df['Species'].map(Species_dict)
df.head()

,Biscoe,Dream,Torgersen,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,0.0,0.0,1.0,0,39.100000,18.700000,181.000000,3.750000
1,0.0,0.0,1.0,0,39.500000,17.400000,186.000000,3.800000
2,0.0,0.0,1.0,0,40.300000,18.000000,195.000000,3.250000
3,0.0,0.0,1.0,0,38.791391,18.346358,189.953642,3.700662
4,0.0,0.0,1.0,0,36.700000,19.300000,193.000000,3.450000

In [ ]:
df.shape

(344, 8)

In [ ]:
df = df.sample(frac=1).reset_index(drop=True)
df.head()

,Biscoe,Dream,Torgersen,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,0.0,1.0,0.0,2,45.2,17.8,198.0,3.95
1,1.0,0.0,0.0,1,45.1,14.4,210.0,4.40
2,0.0,1.0,0.0,0,40.8,18.9,208.0,4.30
3,1.0,0.0,0.0,0,39.6,17.7,186.0,3.50
4,1.0,0.0,0.0,1,46.5,14.5,213.0,4.40

In [ ]:
all_labels = df.pop('Species')
all_labels[: 9]

0    2
1    1
2    0
3    0
4    1
5    0
6    0
7    0
8    0
Name: Species, dtype: int64

In [ ]:
df = (df - df.min())/(df.max() - df.min())
df.head()

,Biscoe,Dream,Torgersen,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (kg)
0,0.0,1.0,0.0,0.476364,0.559524,0.440678,0.347222
1,1.0,0.0,0.0,0.472727,0.154762,0.644068,0.472222
2,0.0,1.0,0.0,0.316364,0.690476,0.610169,0.444444
3,1.0,0.0,0.0,0.272727,0.547619,0.237288,0.222222
4,1.0,0.0,0.0,0.523636,0.166667,0.694915,0.472222

In [ ]:
all_data = df.values
all_data[0]

array([0.        , 1.        , 0.        , 0.47636364, 0.55952381,
       0.44067797, 0.34722222])

In [ ]:
train_size = round(0.9 * all_data.shape[0])

train_data = all_data[: train_size]
test_data = all_data[train_size: ]

train_labels = all_labels[: train_size]
test_labels = all_labels[train_size: ]

assert(len(train_data) == len(train_labels))

In [ ]:
def build_model():
    model = keras.models.Sequential([
        keras.layers.Dense(64, 'selu'),
        keras.layers.Dense(64, 'selu'),
        keras.layers.Dropout(0.25),
        keras.layers.Dense(3, 'softmax'),
    ])

    model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['acc'])

    return model

In [ ]:
my_cb = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=3,
        restore_best_weights=True)

In [ ]:
from sklearn.model_selection import StratifiedKFold

all_val_loss_histories = []
all_val_scores = []

skf = StratifiedKFold(n_splits=3)

for train_index, test_index in skf.split(train_data, train_labels):
    print('Fold...')
    x_train, x_val = train_data[train_index], train_data[test_index]
    y_train, y_val = train_labels[train_index], train_labels[test_index]

    model = build_model()

    history = model.fit(x_train, y_train, epochs=500,
                  validation_data=(x_val, y_val),
                  callbacks=[my_cb], verbose=1)

    all_val_loss_histories.append(history.history['val_loss'])

    all_val_scores.append(model.evaluate(x_val, y_val, verbose=0))

NameError: ignored

In [ ]:
avg_loss = np.mean([x[0] for x in all_val_scores])
print(f'Average loss is {avg_loss}')

Average loss is 0.021075926410655182

In [ ]:
model = build_model()

history = model.fit(train_data, train_labels, epochs=26,
              callbacks=[my_cb], verbose=1)

Epoch 1/26
 1/10 [==>...........................] - ETA: 4s - loss: 1.2174 - acc: 0.3125

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.8838 - acc: 0.5806
Epoch 2/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.7215 - acc: 0.6562

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.5892 - acc: 0.7452
Epoch 3/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.5102 - acc: 0.7500

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.4554 - acc: 0.8419
Epoch 4/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.4073 - acc: 0.8438

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.3493 - acc: 0.8871
Epoch 5/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.2214 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.2697 - acc: 0.9387
Epoch 6/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.1767 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.2043 - acc: 0.9710
Epoch 7/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.2169 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.1616 - acc: 0.9677
Epoch 8/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.1369 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.1211 - acc: 0.9871
Epoch 9/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.1469 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.1047 - acc: 0.9871
Epoch 10/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0826 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0831 - acc: 0.9742
Epoch 11/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0505 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0627 - acc: 0.9935
Epoch 12/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0879 - acc: 0.9688

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0579 - acc: 0.9903
Epoch 13/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0354 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0464 - acc: 0.9968
Epoch 14/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0962 - acc: 0.9688

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0442 - acc: 0.9903
Epoch 15/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0241 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0386 - acc: 0.9935
Epoch 16/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0715 - acc: 0.9688

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0335 - acc: 0.9935
Epoch 17/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0133 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0315 - acc: 0.9935
Epoch 18/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0327 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0224 - acc: 0.9968
Epoch 19/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0830 - acc: 0.9375

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0281 - acc: 0.9903
Epoch 20/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0147 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0217 - acc: 0.9935
Epoch 21/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0185 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.0205 - acc: 0.9935
Epoch 22/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0086 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0152 - acc: 1.0000
Epoch 23/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0323 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0170 - acc: 0.9968
Epoch 24/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0076 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0114 - acc: 1.0000
Epoch 25/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0066 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 2ms/step - loss: 0.0092 - acc: 1.0000
Epoch 26/26
 1/10 [==>...........................] - ETA: 0s - loss: 0.0095 - acc: 1.0000

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

10/10 [==============================] - 0s 3ms/step - loss: 0.0123 - acc: 1.0000

In [ ]:
model.evaluate(test_data, test_labels)

2/2 [==============================] - 0s 6ms/step - loss: 0.0466 - acc: 0.9706

[0.046616245061159134, 0.970588207244873]